---
// Definición de Props
interface Props {
  body: string;
}

// Propiedades del componente
const { body } = Astro.props;
---

<li class="shape-card">
  <a>
    <div class="shape-container">
      <h1>{body}</h1>
    </div>
    <div class="shape2-container">
      <img class="i" src="public/ESCALADAS_ALTOS_DEL_MAR/logo.png" alt="">
    </div>
    <div class="text-container">
      <p>Lotes campestres de lujo</p>
    </div>
    <div class="boton">
      Entre las perlas del Caribe
    </div>
  </a>
</li>


<style>
.boton {
  display: inline-block;
  padding: 0px 35px; 
  background-color: #f1ab3d;
  color: #fff; 
  font-family: Arial, sans-serif;
  font-weight: bold; 
  text-align: center; 
  border-radius: 30px; 
  position: relative; /* Posicionamiento absoluto */
  left: 50%; 
  /*top: 30rem; */
  transform: translate(-50%, -544%); /* Ajuste del anclaje */
  /* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);  Sombra */
  z-index: 1; /* Controla la superposición */
  font-size: 2vw;
  word-wrap: break-word;
}
  .i {
  max-width: 90%; /* La imagen se ajusta al ancho del contenedor */
  height: auto; /* Mantiene las proporciones de la imagen */
  padding-bottom: 60%;
  padding-top: 11%;
  }
  .text-container {
  position: absolute; /* Posiciona el texto sobre la imagen */
  top: 0; /* Ajusta verticalmente al 50% del contenedor */
  left: 50%; /* Ajusta horizontalmente al 50% del contenedor */
  z-index: 2;
  display: grid;
  transform: translate(-48%, 748%);
  }

  /* Tarjeta general */
  .shape-card {
    list-style: none;
    display: flex;
    padding: 1px;
    background-color: #ffffff;
    background-image: url('public/ESCALADAS_ALTOS_DEL_MAR/portada.png');
    background-size:cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 800px;
    overflow: hidden; /* Asegura que el clip-path funcione correctamente */
    box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    height: auto; /* Mantiene las proporciones originales */
	  object-fit: cover;
    top: 50%;
  }

  /* Enlace */
  .shape-card > a {
    width: 100%;
    text-decoration: none;
    color: white;
    opacity: 0.9;
  }

  /* Contenedor con forma */
  .shape-container {
    position: relative;
    padding: 2rem 1.5rem;
    /*clip-path: polygon(0% 18%, 0 0, 19% 0%, 82% 0%, 100% 0, 100% 18%, 100% 28%, 81% 27%, 78% 46%, 23% 47%, 20% 28%, 0 28%);*/
    clip-path: polygon(0% 18%,0 0,18% 0%,82% 0%,100% 0,100% 18%,100% 36%,72% 36%,71% 66%,29% 66%,28% 36%,0 36%);
    background: linear-gradient(90deg, #d3872c, #ffcb69); /* Gradiente de ejemplo */
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    z-index: 2;  
    font-size: 2vw;
    word-wrap: break-word;
    
  }

  /* Hover para la forma */
  .shape-container:hover {
    transform: scale(1.05);
    opacity: 1;
  }

  .shape2-container {
    position: relative;
    top: -49px;
    left: 50.5%;
    transform: translateX(-50%);
    background-color: #ffffff;
    width: 39%;
    height: 75%;
    border-radius: 0px 0px 250px 250px;
    box-shadow: 0 4px 6px rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    z-index: 1;
    
}
  h1{
    margin-top: 0.5rem;
    margin-bottom: -28px;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: 139%;
    padding-bottom: 40px;  
    font-weight: bold;  
  }

  /* Títulos */
  h2 {
    /*margin: 0;
    /*font-size: 1.25rem;*/
    /*font-size: 1rem, 1.5vw, 1rem; /* Tamaño dinámico */
    /*color: #fff;
    transition: color 0.3s ease-in-out;*/
    font-size: 1rem, 1.5vw, 1rem;
    margin-top: 0.5rem;
    margin-bottom: -28px;
    color: rgba(255, 255, 255, 0.897);
    text-align: center;
    font-size: 50px;
    padding-bottom: 40px;  
    font-weight: bold; 
  }

  h2 > span {
    margin-left: 0.5rem;
    color: rgba(255, 255, 255, 0.8);
  }

  /* Párrafos */
  p {
    font-family: 'Pacifico', cursive;
    /*margin-top: 25.5rem;*/
    color: rgb(228, 0, 0);
    text-align: center;
    font-size: 3vw;
    /*transform: translate(-50%, -50%);*/
  }

  .shape-container:hover h2 {
    color: #facc15; /* Cambia el color del título al pasar el cursor */
  }


  /* RESPONSIVIDAD */
  @media (max-width: 931px) { /* Tablets */
    .boton{
      transform: translate(-50%, -608%);
    }
    .text-container{
      transform: translate(-48%, 809%);
    }
  }
  
  @media (max-width: 731px) { /* Tablets */
    .boton{
      transform: translate(-50%, -758%);
    }
    .text-container{
      transform: translate(-48%, 820%);
    }
  }
  @media (max-width: 693px) { /* Tablets */
    .boton{
      padding: 0px 13px;
    }
    .text-container{
      transform: translate(-48%, 855%);
    }
  }
  @media (max-width: 582px) { /* Tablets */
    .text-container{
      transform: translate(-48%, 919%);
    }
  }
 
  @media (max-width: 546px) { /* Tablets */
    .text-container{
      transform: translate(-48%, 937%);
    }
    .boton{
      transform: translate(-50%, -836%);
      padding: 0px 20px;
    }
  }
  @media (max-width: 480px) { /* Móviles */
    .boton{
      transform: translate(-50%, -982%);
      padding: 0px 20px;
    }
  }
  @media (max-width: 430px) { /* Móviles */
    .text-container{
      transform: translate(-48%, 1000%);
    }
  }
</style>
